<footer class="main-footer">
  <div class="main-container">
    <div class="main-footer__upper">
      <div class="main-footer__row main-footer__row-1">
        <h2 class="heading heading-sm main-footer__heading-sm"><span>Connect With Us</span></h2>
        <div class="main-footer__social-cont">
          <a href="{{ site.facebook_url }}"><img class="main-footer__icon" src="{{ '/assets/png/facebook-ico.png' | relative_url }}" alt="BGSA on Facebook" /></a>
          <a href="{{ site.instagram_url }}"><img class="main-footer__icon" src="{{ '/assets/png/insta-ico.png' | relative_url }}" alt="BGSA on Instagram" /></a>
          <a href="{{ site.youtube_url }}"><img class="main-footer__icon" src="{{ '/assets/png/yt-ico.png' | relative_url }}" alt="BGSA on YouTube" /></a>
        </div>
      </div>

      <div class="main-footer__row main-footer__row-2">
        <h4 class="heading heading-sm text-lt">{{ site.name }}</h4>
        <p class="main-footer__short-desc">{{ site.footer_tagline }}</p>
      </div>
    </div>

    <div class="main-footer__lower">
      &copy; <span id="year"></span> BGSA @ The Ohio State University. All rights reserved.
      <span class="main-footer__credit">Site by K M Naimul Hassan</span>
    </div>
  </div>
</footer>
