<header class="header">
  <div class="header__content">
    <a href="{{ '/' | relative_url }}" class="header__logo-container">
      <div class="header__logo-img-cont">
        <img src="{{ '/assets/png/tOSU_BGSA_logo.png' | relative_url }}" alt="BGSA logo" class="header__logo-img" />
      </div>
      <span class="header__logo-sub">{{ site.short_name }}</span>
    </a>

    <div class="header__main">
      <ul class="header__links">
        <li><a href="{{ '/#home' | relative_url }}" class="header__link">Home</a></li>
        <li><a href="{{ '/#about' | relative_url }}" class="header__link">About</a></li>
        <li><a href="{{ '/#events' | relative_url }}" class="header__link">Events</a></li>
        <li><a href="{{ '/#achievements' | relative_url }}" class="header__link">Achievements</a></li>
        <li><a href="{{ '/#gallery' | relative_url }}" class="header__link">Gallery</a></li>
        <li><a href="{{ '/#database' | relative_url }}" class="header__link">Database</a></li>
        <li><a href="{{ '/#resources' | relative_url }}" class="header__link">Resources</a></li>
        <li><a href="{{ '/#blog' | relative_url }}" class="header__link">Blog</a></li>
        <li><a href="{{ '/#contact' | relative_url }}" class="header__link">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
